/* root */
:root {
  --myPadding0: 0em;
  --mypadding25:2.5em;
  --myPadding4: 4em;
  --myPaddingSide: 8em;
  --myBlack: #201f1f;
  --myBg: #f8f5ef;
  --myMain: #ff6a18;
  --myWhite: #f3f3f3;
  --myMainFont:"Rubik", sans-serif;
  --mySubFont:"Space Mono", monospace;
  --myFontWeightThick:600;
  --myFontWeightThin:400;
  --myFontStyleItalic:italic;
}


/* default */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}




/* scrollbar */
/* otherbrowser */
body::-webkit-scrollbar-track {
  background-color: var(--myBlack);
}
body::-webkit-scrollbar {
  width: 0.8vw;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--myMain);
}
/* firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--myMain) var(--myBlack);
}
.scroll-down .nav{
  transform: translate3d(0,-100%,0);
}
.scroll-up .nav{
  filter: drop-shadow(0 -10px 20px black);
}
/* body */
body {
  font-size: 1.25em;
  font-family: "Rubik", sans-serif;
  background-color: var(--myBg);
  margin: auto;
  line-height: 1.75;
  scroll-behavior: smooth
}
.classMargin{
  max-width: 1200px;
  margin: 0 auto;
}
/* select */
::selection{
  background-color: var(--myMain);
  color: var(--myBlack);
}

/* icon */
button .icon,.icon
{
  color: var(--myBlack);
}

button:hover .icon,.icon:hover{
  color: #ff6a18;
}
.mouseWheel{
  width: 20px;
  height: auto;
  vertical-align: baseline;
}


/* header */
.header{

  height: 80px;
  position: relative;
  background-color: magenta;

}
.mainLogo {
  width: 45px;
  height: auto;
  margin-left: -3px;
}
.mainLogo:hover {
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.nav {
  
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  transition: all 300ms ease-in-out;
  height: 80px;





  padding-left: var(--myPaddingSide);
  padding-right: var(--myPaddingSide);


  font-weight: 600;
  font-size: 0.75em;
  color: var(--myBlack);
  font-family: "Space Mono", monospace;
  
  background-color: rgba(16, 177, 100, 0.485);
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
.nav-link{
  padding: 0;
}
.hamburgerButton{
  outline: none;
  box-shadow: none;
  border: none;
  background-color: transparent;
}
.hamburgerIcon{
  width: 30px;
  height: auto;
}
.x {
  color: var(--myMain);
}

/* about */
/* about2 */
.about {
  text-align: justify;
  padding-top: var(--myPadding4);
  padding-bottom: var(--myPadding4);

  padding-left: var(--myPaddingSide);
  padding-right: var(--myPaddingSide);

  display: block;
  background-color: red;
  
  height: calc(100vh - 80px);
  height: -moz-calc(100vh - 80px);
  height: -webkit-calc(100vh - 80px);



}
.about span {
  font-size: clamp(1.5em, 6vw, 3em);
  font-weight: 700;


}
.highLight{
  background-color: var(--myMain);
  color: var(--myBlack);
}
.howdy {
  font-style: var(--myFontStyleItalic);
  font-size: clamp(0.5em, 6vw, 2em);
  font-weight: var(--myFontWeightThin);
  
}
.aboutDescMain {
  font-size: clamp(0.5em, 6vw, 2em);
  font-weight: var(--myFontWeightThin);
  font-family: var(--myMainFont);


}
.about p {
  font-weight: var(--myFontWeightThin);
  font-size: clamp(0.8em, 6vw, 0.8em);
  font-family: var(--mySubFont);
}
.about h6 {
  font-weight: var(--myFontWeightThin);
  font-size: clamp(0.2em, 3vw, 0.8em);

  background-color: blue;
  font-family: var(--myMainFont);

    text-align: center;
 
}
.aboutDescText{
  background-color: blue;
  left: 0;
  padding-right: 8em;

  
}
.aboutDescSubText{
  background-color: gold;
  left: 0;
  padding-right: 16em;

}

.row-flex {
  display: flex;
  flex-wrap: wrap;
}
/* title */

.title{
  font-family: var(--myMainFont);
  font-weight: var(--myFontWeightThick);

}
.underLine{
  background-color: var(--myBlack);
  height: 1.5px;

}


/* desc */
.desc {
  
  padding-top: calc(2.5em + 80px);
  padding-bottom: var(--mypadding25);
  padding-left: var(--myPaddingSide);
  padding-right: var(--myPaddingSide);


  background-color: burlywood;
  
  display: flex;


}
.desc p{
  font-size: 0.8em;
  font-weight: var(--myFontWeightThin);
  font-family: var(--mySubFont);


}
.textCol{
  background-color: blueviolet;
  text-align: justify;
}
.descPicCol{
  background-color: brown;
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:center;
 
}
.descPicDiv{




  width: 100%;
  height: 100%;
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:center;
  background-color: aquamarine;

}
.descAboutPic {
  /* display: flex;
  justify-content: center;

  
  margin: auto; */
  overflow: hidden;
  width: auto;
  height: 300px;


 

  
}
/* home */
.home {

  padding-bottom: var(--myPadding4);
  padding-left: var(--myPaddingSide);
  padding-right: var(--myPaddingSide);
  background-color: green;
}
.question{
  height: 80px;
  background-color: red;
  text-align: center;
}


/* footer */
.footer {
  padding-top: var(--mypadding25);
  padding-bottom: 1.5em;
  padding-left: var(--myPaddingSide);
  padding-right: var(--myPaddingSide);


  background-color: rosybrown;
}
.footerPic {
  width: 75px;
  height: auto;
  border-radius: 100%;
}
.footer p {
  font-weight: 400;
  /* font-size: 0.7em; */
  font-size: clamp(0.2em, 3vw, 0.7em);
  font-family: "Space Mono", monospace;
  color: var(--myWhite);
  margin-bottom: 0;
}

.footerReachDiv,.footerDescDiv,.footerPicDiv{
  display: flex;

  margin: auto 0;

}
.footerReachDiv{
  justify-content: end;

  text-align: right;

}

.footerDescDiv{
  
  text-align: left;
}
.footer .icon{
  width: 20px;
  padding-left: 6px;
  height: auto;
}
.footCol{

  padding-bottom: 1em;


}
.footCol1{
  display: flex;
  justify-content: start;
}
.footCol2{
  display: flex;
  justify-content: start;
}
.footCol3{
  display: flex;
  justify-content: end;
}
/* work */
.frontEndRow{
  display: flex;
  flex-direction: row;
}
.skillBox{
  padding: 0 10px;
  text-align: center;
}
/* contact */
.contact {
  padding-top: var(--mypadding25);
  padding-bottom: var(--myPadding4);
  padding-left: var(--myPaddingSide);
  padding-right: var(--myPaddingSide);
  margin: auto;
  line-height: 1.75;

  background-color: orange;
}
.contact p {
  text-align: center;
}

/* swipes */
.swiper-slide {
  opacity: 0;
  background-color: yellow;
}
.swiper-slide-active {
  opacity: 1;
}
.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
}

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
}
/* skill */
.buttonSet,
.mySwiper {
  padding-top: var(--mypadding25);
  padding-bottom: var(--mypadding25);

  background-color: blue;

  /* background-color: green; */
}

.embedBook{
  width: 800px;
  height: 800px;
}

/* popUp */
.popUp{
  background-color: rgba(34, 34, 34, 0.673);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
/* medium */
@media only screen and (max-width: 1199.98px) {
  
  :root {

    --myPaddingSide: 6em;

  }


}

@media only screen and (max-width: 991.98px) {

  :root {

    --myPaddingSide: 4em;

  }

  .aboutDescText{
    padding-right: 4em;

  }
  .aboutDescSubText{
    padding-right: 8em;

  }
}
@media only screen and (max-width: 767.98px){
  :root {

    --myPaddingSide: 2em;

  }

  .aboutDescText{
    padding-right: 0em;

  }
  .aboutDescSubText{
    padding-right: 4em;

  }
  .footerReachDiv,.footerDescDiv,.footerPicDiv{
    text-align: center;
  
  }
  .footCol1{
    display: flex;
    justify-content: center;
  }
  .footCol2{
    display: flex;
    justify-content: center;
  }
  .footCol3{
    display: flex;
    justify-content: center;
  }
}


@media only screen and (min-width: 768px) {
  .hamburgerButton{
    display: none;
    
  }

}



/* header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-weight: 200;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

form {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  resize: none;
}
form button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
} */
